@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
body {
  font-family: 'Quando', serif;
}
#title {
  color: #e84d4d;
  margin-top: 0;
}
.hero-image {
  background-image: url('/TacosSamplePhotoRecipeWebsite.jpg');
  height: 600px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}
.main-searchbar {
  text-align: center;
  position: absolute;
  width: 25%;
  height: 25%;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
}
#main-search-input {
  font-size: 16px;
  padding: 5px;
}
#main-search-btn {
  padding: 8px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
}
#main-search-btn:hover {
  cursor: pointer;
}
#search-icon-button {
  cursor: pointer;
  font-size: 1rem;
  color: grey;
  border: 0;
  background: transparent;
  border-radius: 50%;
}
.top-search-box {
  border: 1px solid grey;
  border-radius: 50px;
  display: flex;
  position: absolute;
  top: 10px;
  right: 45px;
  padding: 3px;
  transition: width 300ms ease-in-out;
}
#top-search-input {
  height: 30px;
  border: 0;
  background: transparent;
  padding: 0 0.5em;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(250, 245, 245, 0.9);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #e84d4d;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: gray;
  border: 0;
  float: left;
}
.openbtn:hover {
  color: black;
  transition: all 0.2s ease-in-out;
  transform: scale(1.5);
}
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
@media scren and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.columns-cat {
  padding: 100px;
  float: left;
  width: 10%;
  margin: 0;
}
.rows-front-page {
  display: flex;
  justify-content: center;
  margin: 0;
}
#feat-cat {
  margin-top: 25px;
  margin-bottom: 0;
}
#new-recipes {
  margin-top: 25px;
  margin-bottom: 0;
}
.columns-cat:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-container {
  margin: auto;
  width: calc(100vw - 260px);
}
.search-results {
  margin: auto;
  width: calc(100vw - 260px);
}
