@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
body {
  font-family: 'Quando', serif;
}
#title {
  color: #e84d4d;
  margin-top: 0;
}
.hero-image {
  background-image: url('/TacosSamplePhotoRecipeWebsite.jpg');
  height: 600px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}
.main-searchbar {
  text-align: center;
  position: absolute;
  width: 25%;
  height: 25%;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
}
#main-search-input {
  font-size: 16px;
  padding: 5px;
}
#main-search-btn {
  padding: 8px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
}
#main-search-btn:hover {
  cursor: pointer;
}
#search-icon-button {
  cursor: pointer;
  font-size: 1rem;
  color: grey;
  border: 0;
  background: transparent;
  border-radius: 50%;
}
.top-search-box {
  border: 1px solid grey;
  border-radius: 50px;
  display: flex;
  position: absolute;
  top: 10px;
  right: 45px;
  padding: 3px;
  transition: width 300ms ease-in-out;
}
#top-search-input {
  height: 30px;
  border: 0;
  background: transparent;
  padding: 0 0.5em;
}
.columns-cat {
  padding: 100px;
  float: left;
  width: 10%;
  margin: 0;
}
.rows-front-page {
  display: flex;
  justify-content: center;
  margin: 0;
}
#feat-cat {
  margin-top: 25px;
  margin-bottom: 0;
}
#new-recipes {
  margin-top: 25px;
  margin-bottom: 0;
}
.columns-cat:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main-container {
  margin: auto;
  width: calc(100vw - 260px);
}
.search-results {
  margin: auto;
  width: calc(100vw - 260px);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
